table, th, td {
    border: 3px solid white;
    border-collapse: collapse;
}
body{
    background-color: black;
    color: white;
}
table{
    margin-left: auto;
    margin-right: auto;
}
th{
    color:red;
}
td{
    text-align: center;
}
